{% extends 'base.html.twig' %}

{% block body %}
    {% set route = post is defined and post.get('comment_id') ? 'editComment' : 'addComment' %}
    {% set submit = route == 'addComment' ? 'Ajouter' : 'Mettre à jour' %}

    <form method="post" action="../public/index.php?route={{ route }}&idBlogPost={{ blogPost.id }}">
        <label for="content">Message</label><br>
        <textarea id="content" name="content">{{ post is defined ? post.get('content') : '' }}</textarea><br>
        {{ errors['content'] is defined ? errors['content'] : '' }}
        <input type="submit" value="{{ submit }}" id="submit" name="submit">
    </form>
{% endblock %}