{% set route = post is defined and post.get('comment_id') ? 'editComment' : 'addComment' %}
{% set submit = route == 'addComment' ? 'Ajouter' : 'Mettre à jour' %}

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form method="post" action="../public/index.php?route={{ route }}&idBlogPost={{ blogPost.id }}">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="content">Commentaire</label>
                                <textarea {{ session.get('pseudo') ? '' : 'disabled' }} rows="5" class="form-control" id="content" name="content" style="color: white">{{ post is defined ? post.get('content') : '' }}</textarea>
                                <p class="text-danger">{{ errors['content'] is defined ? errors['content'] : '' }}</p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="submit" value="{{ submit }}" id="submit" name="submit" class="btn btn-success btn-lg">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>