{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div>
        <h1>{{ blogPost.title }}</h1>
        <h3>{{ blogPost.chapeau }}</h3>
        <p>{{ blogPost.content }}</p>
        <p>Créé le : {{ blogPost.createdAt }}</p>
        <p>Par {{ blogPost.user.pseudo }}</p>
        <p>Modifié le : {{ blogPost.updatedAt }}</p>
    </div>
    <a href="../public/index.php">Retour à l'accueil</a>
    <div>
        <h3>Ajouter un commentaire</h3>
        {% include('formComment.html.twig') %}
        <h3>Commentaires</h3>

        {% for comment in comments %}
                <p>{{ comment.content }}</p>
                <p>Posté le {{ comment.createdAt }}</p>
                <p>Par {{ comment.user.pseudo }}</p>
        {% endfor %}
    </div>
{% endblock %}